@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&display=swap');

// Variables
$black: #000000;
$gray: #eceff1;
$gray-medium: #bdbdbd;
$transparent-gray-medium: #bdbdbda1;
$gray-dark: #757575;
$white: #ffffff;
$transparent-white: #ffffff9f;
$error: #963c3c;

$desktop: "only screen and (min-width: 768px)";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Dosis', sans-serif;
}

.compras {
    display: flex;

    &__tabla {
        position: fixed;
        z-index: 300;
        right: 3rem;
        bottom: 5.5rem;
        background-color: $white;
        box-shadow: -1rem 1rem .5rem -1rem $gray-dark;
        border-radius: 1rem;
        width: 80%;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;

        &:hover {
            opacity: 1;
            visibility: visible;
        }

        @media #{$desktop} {
            width: 35%;
            right: 5rem;
            bottom: 3rem;
        }

        table {
            width: 100%;
            border-spacing: 0;
            
            th {
                width: 25%;
                border-bottom: 2px solid $gray-medium;
                padding: .5rem 0;
                text-align: center;
            }

            td {
                text-align: center;
            }
            
            button {
                width: 3rem;
                height: 3rem;
                background-color: $gray-medium;
                padding: .3rem;
                border-radius: 50%;
                font-size: .8rem;
                color: $black;
                margin: 0 .5rem;
                cursor: pointer;

                i {
                    font-size: 1.3rem;
                }
            }

            img {
                width: 100%;
                
                @media #{$desktop} {
                    width: 50%;
                }
            }
        }

        .total {
            margin-top: 1rem;
            span {
                font-weight: 600;
            }
            font-size: 1.2rem;
        }

        button {
            width: 80%;
            height: 2rem;
            margin-top: 1rem;
            border: none;
            background-color: $gray-medium;
            font-size: .8rem;
            transition: background-color .4s;

            &:hover {
                background-color: $gray-dark;
            }
        }

    }

    &__carrito {
        position: fixed;
        z-index: 700;
        bottom: 2rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .3s;
    
        @media #{$desktop} {
            bottom: 2.5rem;
            right: 2.5rem;
        }
    
        &:hover {
            background-color: $gray-medium;
            transition: background-color .3s;
            cursor: pointer;
        }

        &:hover ~ .compras__tabla {
            opacity: 1;
            visibility: visible;
        }
    
        i {
            font-size: 2rem;
        }
    
        &__cantidad {
            width: 1.5rem;
            height: 1.5rem;
            margin-bottom: 3.3rem;
            margin-left: 3.3rem;
            border-radius: 50%;
            position: fixed;
            background-color: $gray-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $gray;
        }
    
    }
}

.navBar {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $gray;
    box-shadow: 0 1rem .5rem -1rem $gray-dark;

    @media #{$desktop} {
        height: 170px;
        flex-direction: column;
        justify-content: center;
    }

    &__logo {
        margin-left: 1rem;
        width: 5rem;

        @media #{$desktop} {
            margin: 0;
            width: 6.5rem;
        }
    }

    &__btn {
        @media #{$desktop} {
            display: none;
        }
    }

    &__menu {
        width: 100%;
        height: calc(100vh - 100px);
        bottom: 0;
        transition: transform 0.3s ease;
        transform: translate(100%, 0%);
        background-color: $gray;
        position: fixed;
        z-index: 700;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;

        @media #{$desktop} {
            transform: translate(0,0);
            position: relative;
            flex-direction: row;
            width: 70%;
            height: auto;
            margin-top: 0.8rem;
        }

        .icon {
            font-size: 1.5rem;
        }

        a {
            font-size: 1.8rem;
            text-decoration: none;
            color: $black;

            @media #{$desktop} {
                font-size: 1.5rem;
            }
        }

        .hover-effect {
            display: inline-block;
            padding-bottom: 0.15rem;
            /* defines the space between text and underline */
            position: relative;
        }

        .hover-effect::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: $black;
            transition: width 0.5s ease-out;
        }

        .hover-effect:hover::before {
            width: 100%;
        }

        &.is-active {
            transform: translate(0,0);
        }

    }
}

.banner {
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../assets/header-bg-mobile.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media #{$desktop} {
        background-image: url(../assets/header-bg.jpg);
        background-position: right top;
        justify-content: left;
        align-items: center;
        padding-left: 8rem;
    }

    &__info {
        border: 3px solid $gray;
        width: 80%;
        height: 12rem;
        margin-top: 4rem;
        // margin: 4rem 0;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media #{$desktop} {
            width: 30%;
        }

        h1 {
            color: $gray;
            font-weight: 400;
            text-align: center;
            font-size: 2.5rem;
            width: 80%;
            border-bottom: 1px solid $gray;
        }

        p {
            color: $gray;
            margin-top: 3rem;
            font-weight: 300;
            font-size: 1.2rem;
        }
    }
}

.coleccion {
    width: 100%;
    padding: 2rem;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        h2 {
            align-self: center;
            margin: 0 2rem;
        }

        div {
            width: 35%;
            height: 50%;
            border-top: 0.5px solid $gray-dark;
        }
    }

    &__search {
        width: 100%;

        form {
            display: flex;
            justify-content: center;
        }

        input {
            width: 85%;
            height: 2rem;
            padding: 0 1rem;
            border: none;
            border-radius: 2rem;
            background-color: $gray-medium;

            @media #{$desktop} {
                width: 40%;
            }

            &::placeholder {
                color: $black;
                font-family: 'Dosis', sans-serif;
                font-weight: 500;
                font-size: 1rem
            }
        }

        button {
            height: 2rem;
            width: 2rem;
            margin-left: .5rem;
            border: none;
            border-radius: 50%;
            background-color: $gray-medium;

            &:hover {
                background-color: $gray-dark;
                cursor: pointer;
            }

            i {
                color: $black;
            }
        }

        .filter {
            width: 100%;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media #{$desktop} {
                flex-direction: row;
            }

            select {
                height: 1.8rem;
                width: 10rem;
                margin: 1rem;
                background-color: $gray-medium;
                border: none;
                border-radius: 2rem;

                @media #{$desktop} {
                    margin: 0 1rem;
                }
            }

            option {
                text-align: center;
            }
        }

        .error {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 100%;
            margin-top: 2rem;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            color: $error;
            border: 2px solid $error;
            border-radius: 1rem;
            visibility: hidden;

            @media #{$desktop} {
                width: 50%;
                margin: 2rem auto;
            }
        }
    }

    &__cards {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        
        &__card {
            margin: 1rem 0;
            width: 90%;
            max-width: 25rem;
            min-width: 18rem;

            @media #{$desktop} {
                width: 25%;
                margin: 1rem;
            }
        }

        .container {
            width: 100%;
            height: 25rem;

            position: relative;
            z-index: 100;

            cursor: pointer;

            -webkit-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
        }

        .overlay {
            width: 100%;
            height: 100%;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            background: rgba(77, 77, 77, .9);
            color: $gray;
            opacity: 0;
            transition: all 0.5s;
        }


        .items {
            padding-left: 20px;
            letter-spacing: 3px;
        }

        .head {
            font-size: 1.8rem;
            line-height: 40px;

            transform: translateY(40px);
            transition: all 0.7s;

            .subtitle {
                font-size: 1rem;
            }
        }

        .price {
            font-size: 22px;
            line-height: 10px;
            font-weight: bold;
            opacity: 0;
            transform: translateY(40px);
            transition: all 0.7s;
        }

        .cart {
            font-size: 12px;
            opacity: 0;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            transform: translateY(40px);
            transition: all 0.7s;

            i {
                font-size: 2rem;
            }

            button {
                margin-left: 10px;
                background: transparent;
                color: $gray;
                padding: .5rem 1rem;
                border: 2px solid transparent;
                transition: all .5s;

                &:hover {
                    border: 2px solid $gray;
                    transition: border .5s;
                    cursor: pointer;
                }
                
                &:active {
                    background-color: $gray-medium;
                    transition: background-color .5s;
                }
            }
        }

        .container:hover .overlay {
            opacity: 1;

            & .head {
                transform: translateY(0px);
            }

            & hr {
                width: 75px;
                transition-delay: 0.4s;
            }

            & .price {
                transform: translateY(0px);
                transition-delay: 0.3s;
                opacity: 1;
            }

            & .cart {
                transform: translateY(0px);
                transition-delay: 0.6s;
                opacity: 1;
            }
        }
    }

    #mostrarTodo {
        padding: .8rem 1.8rem;
        margin-top: 2rem;
        background-color: $gray-medium;
        color: $black;
        border: none;
        border-radius: 2rem;
        font-family: 'Dosis', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        transition: background-color .4s;

        &:hover {
            background-color: $gray-dark;
            transition: background-color .4s;
        }
    }
}

.nosotros {
    width: 100%;
    padding-top: 2rem;
    background-color: $gray-medium;

    &__title{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;


        h2 {
            align-self: center;
            margin: 0 2rem;
        }

        div {
            width: 25%;
            height: 50%;
            border-top: 0.5px solid $gray-dark;
        }
        
    }

    &__info {

        &__empresa {
            width: 100%;
            height: 50vh;
            background-image: url('../assets/nosotros-bg.jpg');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$desktop} {
                justify-content: flex-end;
                padding: 0 8rem;
                height: 60vh;
                background-position: center;
            }

            &__container {
                width: 80%;
                height: 80%;
                padding: 1rem;
                background-color: $transparent-white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media #{$desktop} {
                    min-width: 20rem;
                    width: 38%;
                }

                h2 {
                    text-align: center;
                    margin-bottom: 1rem;
                    font-size: 1.4rem;

                    @media #{$desktop} {
                        font-size: 1.7rem;
                    }
                }

                p {
                    text-align: center;
                    font-size: .9rem;

                    @media #{$desktop} {
                        font-size: 1rem;
                    }
                }
            }
        }

        &__etica {
            width: 100vw;
            display: flex;
            flex-direction: column-reverse;

            @media #{$desktop} {
                flex-direction: row;
            }

            &__container {
                width: 100%;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media #{$desktop}{
                    width: 50%;
                }

                h2 {
                    text-align: center;
                    margin-bottom: 1rem;
                }

                p {
                    text-align: center;

                    a {
                        color: $white;
                    }
                }
            }

            img {
                width: 100%;

                @media #{$desktop} {
                    width: 50%;
                }
            }


        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 30%;

        @media #{$desktop} {
            width: 10%;
            margin-top: 1rem;
        }
    }

    .contacto {
        width: 50%;
        margin: 2rem;
        display: flex;
        justify-content: space-around;

        @media #{$desktop}{
            width: 60%;
        }

        a {
            display: flex;
            text-decoration: none;
            color: $black;

            i {
                font-size: 1.5rem;
            }

            p {
                display: none;

                @media #{$desktop} {
                    display: inline-block;
                    margin: 0 .5rem;
                }
            }
        }
    }

    p {
        margin-bottom: 1rem;

        a {
            color: $gray-dark;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1500;
    background-color: $transparent-gray-medium;
    display: flex;
    opacity: 0;
    pointer-events: none;

    &__container {
        width: 90%;
        height: auto;
        padding: 1em 1em;
        background-color: $gray;
        border-radius: 1.5em;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &__title {
            margin-bottom: .5rem;
            font-weight: 400;
            font-size: 2em;
            text-align: center;
            color: $black;
        }

        &__close {
            align-self: flex-end;   
            font-size: 1.5em;
            color: $gray-dark;
            text-decoration: none;
            font-weight: 500;
        
            border: none;
            border-radius: 1em;
        
            transition: background-color .3s;
    
            &:hover {
                cursor: pointer;
            }
        }

        form {
            width: 70%;
            display: flex;
            flex-direction: column;

            label {
                margin: .5rem 0;
                font-size: 1.3rem;
            }

            input {
                padding: .4rem 1rem;
                border: none;
                background-color: $gray-medium;
                border-radius: .5rem;

                &:focus {
                    border: 2px solid $gray-dark;
                }

            }

            button {
                margin: 1.5rem 0;
                padding: .4rem 1rem;
                background-color: transparent;
                border: 2px solid $gray-dark;
                border-radius: .5rem;
                transition: background-color .3s;

                &:hover {
                    background-color: $gray-medium;
                    cursor: pointer;
                }

                &:disabled {
                    border: 2px solid $gray-medium;
                    color: $gray;
                }
            }
        }
    }

    

}
.error {
    border: 2px solid $error;
}

#error-message {
    width: 100%;
    color: $error;
    margin-top: .5rem;
    visibility: hidden;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
}